div#title #{title}

div#chooser
	span name
	input(type='text')
	div.clear
	div.avatarChooser#male male
	div.avatarChooser#female female
// nowjs test...
<!--<input type="text" id="text-input"></input>
<button id="send-button">send</button>
<div id="messages">
</div>-->
