body {
	background-color: black;
}
#map-container {
	width: 600px;
	margin: 0 auto;

}

.wall {
	position: relative;
	background-image: url(wall.png);
	
}
.floor {
	position: relative;
	background-image: url(floor.png);
	cursor: pointer;
}



.floorobject {
	position: absolute;
	background-position: bottom center;
	background-repeat: no-repeat;
}


.bubble {
	background-color: rgba(255, 255, 255, 0.4);
	color: rgba(25, 25, 25, 0.8);
	font-family: sans-serif;
	font-weight: bold;
	position: absolute;
	display: inline;
	padding: 8px;
	border-radius: 15px;
	
}
